<div id="<%= dom_id event %>">
  <div class="card" style="width: 32rem;">
    <div class="card-body">
      <h5 class="card-title"><%= event.title%></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <%= "#{l(event.starts_on, format: :short)} - #{l(event.ends_on, format: :short)}" %>
      </h6>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        <%= event.location %>
      </h6>
      <p class="card-text"><%= event.description %> </p>

      <%= form_with(model: Order.new, local: true) do |form| %>
        <div class="form-group">
          <%= form.hidden_field :event_id, value: event.id %>
        </div>
        <div class="form-group row">
          <%= form.label :quantity, "Number of Tickets (max 6):", class: "col-sm-8 col-form-label" %>
          <div class="col-sm-4">
            <%= form.number_field :quantity, class: 'form-control', min: 1, max: 6, value: 1 %>
          </div>
        </div>
        <%= form.submit "Order", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
